<%- include('layouts/header.ejs')%>


<form action="/update_miss_vis" method="post" enctype="multipart/form-data" class="p-5">
    <input type="hidden" name="miss_vis_id" value="<%=miss_vis_info[0].miss_vis_id%>">
    <div class="container bg-white text-dark">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="mt-5 text-dark">Update New About</h1>
            </div>
            <div class="col-6 mt-5">
                Mission :
                 <input type="text" name="about_miss" value="<%=miss_vis_info[0].about_miss%>" class="form-control bg-white">
             </div>
            <div class="col-6 mt-5">
               Vision :
                <input type="text" name="about_vis" value="<%=miss_vis_info[0].about_vis%>" class="form-control bg-white">
            </div>
           <div class="col-12 text-center mt-5">
               <button class="btn btn-info btn-lg text-white">Save</button>
            </div>
           
        </div>
    </div>
</form>
<%- include('layouts/footer.ejs')%>
